[Unit]
Description=gunicorn daemon for Flask app
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/AirBnB_clone_v2
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 --chdir /home/ubuntu/AirBnB_clone_v2 web_flask.0-hello_route:app

[Install]
WantedBy=multi-user.target

